* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  overflow: hidden;
}

[hidden] {
  display: none;
}

.searchDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 15px;
  position: relative;
}

.itemWrapper {
  display: flex;
  margin: 2px 30px 0;
}

.raisedButton {
  position: absolute;
  right: 0;
  top: 64px;
}

.close {
  width: 52px;
  right: 0;
  top: 28px;
  position: relative;
}

.select {
  width: 80% !important;
  position: relative;
}

.buttonWrapper {
  position: relative;
  top: 2px;
  width: 100%;
}

.button {
  width: 250px;
}

.cardList {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  flex: 0 0 30%;
  margin: 0 0 20px;
}

.cardDescription {
  align-items: center;
  display: flex;
}

.cardDescription-icon {
  margin: 0 8px;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
}

.iconStyle {
  margin: 10px;
}

.star {
  height: 48px;
  width: 50px;
  margin-left: auto;
  display: none;
}

.searchButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.tabsContent > * {
  height: calc(100vh - 74px);
}

.profileWrapper {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.profile {
  color: inherit;
  flex: 0 0 auto;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1080px) {
  .profileWrapper {
    flex-direction: column;
  }

  .searchDiv {
    flex-direction: column;
  }

  .select {
    width: 100% !important;
  }

  .close {
    left: 6px;
    top: 25px;
    position: relative;
  }

  .button {
    width: 100%;
  }

  .buttonWrapper {
    top: 0;
    width: 100%;
  }

  .itemWrapper {
    margin-top: 2px;
    margin-bottom: 0;
  }

  .card {
    flex: 1 0 100%;
  }
}
