* {
  box-sizing: inherit;  
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

[hidden] {
  display: none;
}

.searchDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 15px;
  position: relative;
}

.itemWrapper {
  display: flex;
  margin: 2px 30px 0;
}

.raisedButton {
  position: absolute;
  right: 0;
  top: 64px;
}

.close {
  width: 52px;
  right: 0;
  top: 28px;
  position: relative;
}

.select {
  width: 80% !important;
  position: relative;
}

.buttonWrapper {
  position: relative;
  top: 2px;
  width: 100%;
}

.button {
  width: 250px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; 
}

.card {
  margin: 20px 0px 0;
  width: 30%;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  display: flex;
}

.iconStyle {
  margin: 10px;
}

.info {
  top: 17px;
  height: 86px;
  position: relative;
}

.star {
  height: 48px;
  width: 50px;
  margin-left: auto;
  display: none;
}

article {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

footer {
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.clock {
  bottom: 3px;
  position: relative;
}

.timer {
  display: flex;
}

.time {
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 10px;
}

.classStyle {
  margin-bottom: 15px;
  margin-left: 72px;
  margin-right: auto;
}

.searchButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.tabsContent {
  overflow: auto;
  height: calc(100vh - 74px);
}

.profileWrapper {
  display: flex;
}

.profile {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 15px;
  position: relative;
  margin: auto auto 15px;
}

.aboutFooter {
  margin: 10px;
}

.aboutInfo {
  text-align: justify;
  position: relative;
  top: 17px;
  width: 581px;
  margin: auto auto 20px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 1080px) {
  .itemWrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .profileWrapper {
    flex-direction: column;
  }

  article {
    flex-direction: column;
    align-items: center;
  }

  .searchDiv {
    flex-direction: column;
  }

  .select {
    width: 100% !important;
  }

  .close {
    left: 6px;
    top: 25px;
    position: relative;
  }

  .button {
    width: 100%;
  }

  .buttonWrapper {
    top: 0;
    width: 100%;
  }

  .itemWrapper {
    margin-top: 2px;
    margin-bottom: 0;
  }

  .card {
    width: 100%;
  }

  .classStyle {
    margin-bottom: 15px;
    left: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .info {
    top: 0;
  }
}
